@model IEnumerable<VideoScreensWatcher.Models.Computer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список компьютеров</h1>

<p>
    <a asp-action="Index">Обновить страницу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComputerName)
                <br>(
                @Html.DisplayNameFor(model => model.ComputerId)
                )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBlocked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeout)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComputerName)
           <br>(
                @Html.DisplayFor(modelItem => item.ComputerId)
           )
            </td>
            <td>
                 @{
                        string status = "";
                        switch(item.Status)
                        {
                            case (int)Statuses.Blocked:
                            status = "Заблокирован";
                                break;
                            case (int)Statuses.NotConnected:
                            status = "Ошибка соединения";
                                break;
                            case (int)Statuses.Running:
                            status = "Работает";
                                break;
                            case (int)Statuses.Stoped:
                            status = "Остановлен";
                                break;
                            case (int)Statuses.Unblocked:
                            status = "Разблокирован, ожидает данные";
                                break;
                        }
                    } 
                    @status
            </td>
             <td>
                    @if (item.IsBlocked)
                    {
                        <a asp-action="Unblock" asp-route-id="@item.Id">Заблокирован</a>
                    }
                    else
                    {
                        <a asp-action="Block" asp-route-id="@item.Id">Разблокирован</a>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timeout)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">История</a> 
            </td>
        </tr>
}
    </tbody>
</table>
